@charset "utf-8";
/* CSS Document */

body {
	background: #fff;
	font-family: 'Raleway', sans-serif;
	}
	
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	color: #aaa;
	}
	
ul {
	margin: 0px;
	padding: 0px;
	}
	
li {
	list-style: none;
	}

	
p {
	color: #939393;
	font-family: 'Raleway', sans-serif;
	font-weight:300;
	font-size: 14px;
}

a {
	text-decoration: none !important;
	transition: all 0.4s ease 0s;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	outline: 0px !important;				
}

.container {
	max-width: 1200px;
	}
	
	
.header {
	width: 100%;
	height: auto;
	display: inline-block;
	border-bottom: 1px solid #CCC;
	position: relative;
	z-index: 999;
	
	-moz-box-shadow: 4px 4px 0px rgba(225,225,225, 0.3);
	-webkit-box-shadow: 4px 4px 0px rgba(225,225,225, 0.3);
	box-shadow: 4px 4px 0px rgba(225,225,225, 0.3);
	}
	
.header-top {
	background: #FBFBFB;
	float: left;
	width: 100%;
	height: auto;
	border-bottom: 1px solid #e9e9e9;
	}
	
ul.call-contact {
	margin: 0px;
	padding: 0px;
	margin-top: 10px;
	}
	
ul.call-contact li {
	float: left;
	margin-right: 30px;
	color: #999;
	font-size: 15px;
	}
	
ul.call-contact li i {
	margin-right: 10px;
	}
	
ul.social-link {
	margin: 0px;
	padding: 0px;
	}
	
ul.social-link li {
	float: left;
	}
	
ul.social-link li a {
	width: 40px;
	height: 40px;
	text-align: center;
	float: left;
	color: #999;
	border-left: 1px solid #e9e9e9;
	display: inline-block;
	}
	
ul.social-link li:last-child a {
	border-right: 1px solid #e9e9e9;
	}
	
ul.social-link li a i {
	margin-top: 13px;
	}
	
ul.social-link li a:hover {
	color: #ffffff;
	}
	
a.fb:hover {
	background: #09F;
	}
	
a.twt:hover {
	background: #0CF;
	}
a.gplus:hover {
	background: #C00;
	}
	
a.in:hover {
	background: #666;
	}

a.tmb:hover {
	background:#39C;
	}
	
a.logo {
	margin-top: 20px;
	float: left;
	}
	

.navbar-default .navbar-nav > li > a {
	padding-bottom: 30px;
	padding-top: 30px;
	}	
	
.navbar-default {
	background: none;
	border: none;
	box-shadow: none;
	margin-bottom: 0px;
	}
	
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background: none;
	box-shadow: none;
	}
	
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background: none;
	}	
	
.dropdown-menu {
	box-shadow: none;
	border-top: none;
	}
	
	
	
	/*		Slider			*/
	
/* SLIDER STYLES */
	
.slider-wrapper{
	position:relative;
	overflow:hidden;
	
	width:100%;
	
	background: url(img/bg1.jpg) no-repeat center center;
	
}

.slider{
	position:relative;
	width:100%; 
/*	height:400px; when responsive, comment this out */
	margin:0 auto;
	
}

@media only screen and (min-width: 1000px){
	.slider{
		width:1000px;
	}
}

@media only screen and (min-width: 1440px){
	.slider{
		width:1440px;
	}
}

.claim{
	line-height:100%
}	

.teaser{
	padding:0.5% 1.5%;
	font-size:14px;
	 line-height:100%
}

.small{
	width:250px;
   padding-left:0; padding-right:0px;
	text-align:center;
	padding: 4px 0;
	color: #fff;
}


.light-green{background:#95C542;}
.green{background:#7CB761}
.orange{background:#EF7D00}
.turky{background:#348E8A}
.white{background:#fff; color:#333}
	
	
.fraction-slider{
	position:relative;
	width:100%; height:100%;
	overflow:visible;
}

.fraction-slider .slide{
	display:none; width:100%; height:100%;
	position:absolute;
	z-index:5000;
}

.fraction-slider .active-slide{
	z-index:9999;
}

.fraction-slider .fs_obj{
	display:block; display:none;
	position:absolute;
	top:0px; left:100%;
	z-index:7000;
	padding: 4px;
	color: #fff;
}

.fraction-slider .fs_fixed_obj{
	z-index:6000;
	left:0;
}

.fraction-slider .fs_obj *{
	display:inline-block;
	position:relative;
	top:0px; left:0px;
}

.fs_loader{
	width:100%; height:400px;
	background:url(img/fs.spinner.gif) center center no-repeat transparent;
}

/** CONTROLS **/

.fraction-slider .prev,
.fraction-slider .next{
	display:none;
	position:absolute;
	width:45px; height:45px;
	z-index:9999;
}

.fraction-slider .prev{
	left:10px; top:48%;
	background:url(img/fs.prevnext.png) 0px 0px no-repeat transparent;
	
}
.fraction-slider .prev:hover{
	background:url(img/fs.prevnext.png) 0px -45px no-repeat transparent;
}

.fraction-slider .next{
	right:10px; top:48%;
	background:url(img/fs.prevnext.png) -45px 0px no-repeat transparent;
}
.fraction-slider .next:hover{
	background:url(img/fs.prevnext.png) -45px -45px no-repeat transparent;
}

.fraction-slider:hover .prev,
.fraction-slider:hover .next{
	display:block;
}

/** PAGER **/

.fs-pager-wrapper{
	position:absolute;
	left:10px; bottom:10px;
	z-index:9999;	
}

.fs-pager-wrapper a,
.fs-custom-pager-wrapper a{
	display:inline-block;
	width:14px; height:14px;
	margin:0 5px 0 0;
	background:url(img/fs.pager.png) 0px -14px no-repeat transparent;
}
.fs-pager-wrapper .active,
.fs-custom-pager-wrapper .active{
	background:url(img/fs.pager.png) 0px 0px no-repeat transparent;
}


	/*		    End Slider			*/
	
	
	
.top-section {
	background: #F4F4F4;
	border-bottom: 1px solid #d8d8d8;
	padding: 30px 0px;
	}
	
	
	
	
button.btn-sm, .btn-sm {
    height: 31px;
    line-height: 28px;
    padding: 0 15px !important;
}
.btn, input[type="submit"], input[type="button"], button.btn, .btn-primary {
    background-color: #279fbb;
    border: medium none;
    border-radius: 3px;
    box-shadow: 0 -2px 0 0 rgba(0, 0, 0, 0.3) inset;
    color: white !important;
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    height: 36px;
    line-height: 33px;
    margin: 0 10px 10px 0;
    padding: 0 25px !important;
    position: relative;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    transition: background 0.2s ease 0s, opacity 0.2s ease 0s;
}


.btn:hover, input[type="submit"]:hover, input[type="button"]:hover, button.btn:hover, .btn-primary:hover {
    background-color: #279fbb;
}
.btn:hover, input[type="submit"]:hover, input[type="button"]:hover, button.btn:hover, .btn-primary:hover {
    background-color: #279fbb;
    color: white !important;
    opacity: 0.78;
    text-decoration: none !important;
}

.body-wrapper a:hover, .tab a:hover, accordion .title:hover, .top-body a:hover, .bottom-body a:hover, .accordion .active h4, .accordion .title:hover h4, .side-navigation .menu-item.current-menu-item a, .side-navigation .menu-item:hover a:after, .side-navigation .menu-item:hover a, a.tool-tip, .team-member .team-member-position, .team-member-progress .team-member-position, .item-img-overlay i, ul.icon-content-list-container li.icon-content-single .icon-box i, .item-img-overlay .portfolio-zoom:hover, .navigation ul li:hover > a, .blog_post_quote:after, .item-img-overlay .portfolio-zoom, body .white-text .feature-details a:hover {
    color: #279fbb;
}
	
	
/****************************
Content Box
****************************/

.content-box { 
	overflow: hidden;
} 

.content-box h4 { 
	margin: 0 0 20px 0; 
	text-transform: uppercase; 
	font-size: 16px;
} 

.content-box.content-style4 { 
	position: relative; 
	text-align: center; 
	height: 105px; 
	width: 100%;
}

.content-box.content-style4 h4 { 
	text-align: center; 
	-webkit-transform: rotateX(0deg) rotateY(0deg); 
	-webkit-transform-style: preserve-3d; 
	-webkit-backface-visibility: hidden; 
	-webkit-transition: all .4s ease-in-out; 
	-moz-transform: rotateX(0deg) rotateY(0deg); 
	-moz-transform-style: preserve-3d; 
	-moz-backface-visibility: hidden; 
	-moz-transition: all .4s ease-in-out; 
	-o-transform: rotateX(0deg) rotateY(0deg); 
	-o-transform-style: preserve-3d; 
	-o-backface-visibility: hidden; 
	-o-transition: all .4s ease-in-out; 
	-ms-transform: rotateX(0deg) rotateY(0deg); 
	-ms-transform-style: preserve-3d; 
	-ms-backface-visibility: hidden; 
	-ms-transition: all .4s ease-in-out; 
	transform: rotateX(0deg) rotateY(0deg); 
	transform-style: preserve-3d; 
	backface-visibility: hidden; 
	transition: all .4s ease-in-out;
}

.content-box.content-style4 h4 i { 
	background-color: #279fbb; 
	color: #fff; 
	float: none; 
	margin: 0 10px 0 0; 
	border-radius: 50%; 
	text-align: center; 
	display: block; 
	margin: 5px auto 15px auto;
}

.content-box.content-style4 .content-box-text { 
	position: absolute; 
	top: 0; 
	left: 0; 
	-webkit-transform: rotateY(-180deg); 
	-webkit-transform-style: preserve-3d; 
	-webkit-backface-visibility: hidden; 
	-webkit-transition: all .4s ease-in-out; 
	-moz-transform: rotateY(-180deg); 
	-moz-transform-style: preserve-3d; 
	-moz-backface-visibility: hidden; 
	-moz-transition: all .4s ease-in-out; 
	-o-transform: rotateY(-180deg); 
	-o-transform-style: preserve-3d; 
	-o-backface-visibility: hidden; 
	-o-transition: all .4s ease-in-out; 
	-ms-transform: rotateY(-180deg); 
	-ms-transform-style: preserve-3d; 
	-ms-backface-visibility: hidden; 
	-ms-transition: all .4s ease-in-out; 
	transform: rotateY(-180deg); 
	transform-style: preserve-3d; 
	backface-visibility: hidden; 
	transition: all .4s ease-in-out;
}

.content-box.content-style4:hover .h4-body-title { 
	-webkit-transform: rotateY(180deg); 
	-moz-transform: rotateY(180deg); 
	-o-transform: rotateY(180deg); 
	-ms-transform: rotateY(180deg); 
	transform: rotateY(180deg);
}

.content-box.content-style4:hover .content-box-text { 
	-webkit-transform: rotateX(0deg) rotateY(0deg); 
	-moz-transform: rotateX(0deg) rotateY(0deg); 
	-o-transform: rotateX(0deg) rotateY(0deg); 
	-ms-transform: rotateX(0deg) rotateY(0deg); 
	transform: rotateX(0deg) rotateY(0deg);
}

.content-box.content-style4 .btn { 
	margin-top: 10px; 
	margin-bottom: 0;
} 

.content-box.content-style4 .h4-body-title { 
	opacity: 1\9; 
	display: block\9;
}

.content-box.content-style4 .content-box-text { 
	opacity: 0\9; 
	display: none\9;
}

.content-box.content-style4:hover .h4-body-title { 
	opacity: 0\9; 
	display: none\9;
}

.content-box.content-style4:hover .content-box-text { 
	opacity: 1\9; 
	display: block\9;
} 

.content-box.content-style4.small h4 { 
	margin: 0;
}

.content-box.content-style4.small h4 i { 
	font-size: 22px; 
	width: 40px; 
	height: 40px; 
	line-height: 40px; 
	background-position: -10px;
} 

.content-box.content-style4.medium h4 { 
	margin: 0;
}

.content-box.content-style4.medium h4 i { 
	font-size: 30px; 
	width: 60px; 
	height: 60px; 
	line-height: 62px;
} 



	/*			Services			*/
	
	
.services {
	width: 100%;
	height: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	}
	
.services h1 {
	font-size: 40px;
	color: #333;
	text-align: center;
	}
	
.bar {
	border-bottom: 1px solid #d8d8d8;
	width: 80%;
	height: 1px;
	margin: 20px auto;
	margin-top: 50px;
	text-align: center;
	}
	
.bar i {
	margin: 0px auto;
	padding: 20px 40px;
	font-size: 36px;
	color: #d8d8d8;
	margin-top: -40px;
	background: #fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	}
	
	
ul.right-text {
	text-align: right;
	width: 100%;
	height: auto;
	}
	
ul.right-text li {
	width: 100%;
	height: auto;
	display: inline;
	float: left;
	}
	
.right-text h4 {
	font-size: 18px;
	color: #4b4b4b;
	line-height: 60px;
	}
	
.right-text h4 i {
	width: 60px;
	height: 60px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	margin-top: 30px;
	float: right;
    margin-left: 20px;
    margin-right: 0;
	color: #279fbb;
	border: 1px solid #279fbb;
	font-size: 22px;
	line-height: 60px; 
	text-align: center;
	}
	
.right-text .content-text {
	margin-top: -14px;
	margin-left: 0;
    margin-right: 80px;
	}
	
	
ul.left-text {
	text-align: left;
	width: 100%;
	height: auto;
	}
	
ul.left-text li {
	width: 100%;
	height: auto;
	display: inline;
	float: left;
	}
	
.left-text h4 {
	font-size: 18px;
	color: #4b4b4b;
	line-height: 60px;
	}
	
.left-text h4 i {
	width: 60px;
	height: 60px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	margin-top: 30px;
	float: left;
    margin-right: 20px;
    margin-left: 0;
	color: #279fbb;
	border: 1px solid #279fbb;
	font-size: 22px;
	line-height: 60px; 
	text-align: center;
	transition: all 0.4s ease 0s;
	}
	
.left-text .content-text {
	margin-top: -14px;
	margin-right: 0;
    margin-left: 80px;
	}
	
.left-text li:hover h4 i, .right-text li:hover h4 i {
	background: #279fbb;
	color: #fff;
	}
	
	
	/*			End Services			*/
	
	
	/*			content-2nd				*/
	
	
.content-2nd {
	background: url(img/nightlife-2.jpg) center center;
	background-attachment:fixed;
	width: 100%;
	height: auto;
	margin: 60px 0px;
	margin-bottom: 0px;
	}
	
.content-2nd-overlap {
	background: rgba(0,0,0,0.4);
	padding: 50px 0px;
	width: 100%;
	height: auto;
	}



.client {
	width: 100%;
	height: auto;
	}
	
.client h1 {
	font-size: 40px;
	color: #fff;
	text-align: center;
	}
	
.client h6 {
	font-size: 18px;
	color: #fff;
	text-align: center;
	}

ul.client-logo {
	margin: 0px auto;
	margin-top: 20px;
	}
	
ul.client-logo li {
	margin: 0px 30px;
	display: inline;
	text-align: center;
	}


	/*			End content-2nd			*/
	
	
.closer {
	width: 100%;
	height: auto;
	float: left;
	background: #F4F4F4;
	float: left;
	border-top: 1px solid #d8d8d8;
	padding-top: 50px;
	}
	
.closer h1 {
	font-size: 40px;
	color: #333;
	text-align: center;
	}
	
.closer h6 {
	font-size: 22px;
	color: #666;
	text-align: center;
	margin-top: 40px;
	}
	
.closer .bar i {
	background-color: #F4F4F4;
	}
	
.closer-img {
	width: 100%;
	height: auto;
	margin-top: 30px;
	}
	
.closer-img img {
	margin: 0px auto;
	}
	
	
	
		
.testimonial {
	background: #279FBB;
	padding: 30px 0px;
	color: #fff;
    position: relative;
    width: 100%;
	float: left;
	}
	
.testimonial .testimonial-text:before {
	bottom: -10px;
    color: rgba(0, 0, 0, 0.35);
    content: "`";
    font-size: 90px;
    position: absolute;
    right: 23px;
	}
	
.testimonial .testimonial-text:after {
	color: rgba(0, 0, 0, 0.35);
    content: "`";
    font-size: 90px;
    left: 0;
    position: absolute;
    top: 47px;
	}
	
.testimonial .testimonial-text {
	color: #fff;
    float: left;
    font-size: 18px;
    line-height: 30px;
    padding: 30px 40px;
    position: relative;
    text-align: center;
	}
	
.testimonial-img {
	bottom: -149px;
    position: absolute;
    right: 15px;
	}
	
.testimonial-img img {
	height: 220px;
    width: auto;
	}
	
	
	/*			h-recent-work			*/
	
	
.h-recent-work {
	width: 100%;
	height: auto;
	background: #fff;
	padding: 50px 0px;
	}
	
.h-recent-work h1 {
	font-size: 40px;
	color: #aaa;
	text-align: center;
	}
	
.h-recent-work h6 {
	font-size: 22px;
	color: #666;
	text-align: center;
	margin-top: 40px;
	}

	
	/*			End h-recent-work			*/
	
	

.footer {
	width: 100%;
	height: auto;
	background: #383838;
	padding: 40px 0px;
	display: inline-block;
	}
	
	
.f-about {
	width: 100%;
	height: auto;
	float: left;
	}
	
.f-about p {
	color: #939393;
	text-shadow: none;
	}
	
.f-logo {
	margin-bottom: 20px;
}


.f-tweet {
	width: 100%;
	height: auto;
	float: left;
	}
	
.f-tweet h4 {
	font-size: 16px;
	color: #fff;
	margin-bottom: 25px;
	text-transform:uppercase;
	}
	
ul.tweet-list {
	width: 100%;
	height: auto;
	float: left;
	}
	
ul.tweet-list li {
	width: 100%;
	height: auto;
	margin-bottom: 20px;
	}
	
ul.tweet-list li i {
	font-size: 22px;
	color: #999;
	margin-top: 10px;
	float: left;
	}
	
.tweet-content {
	width: auto;
	margin-left: 40px;
	}
	
.flick {
	width: 100%;
	height: auto;
	float: left;
	}
	
.flick h4 {
	font-size: 16px;
	color: #fff;
	margin-bottom: 25px;
	text-transform:uppercase;
	}
	
.flick ul li {
	width: auto;
	height: auto;
	overflow: hidden;
	float: left;
	padding: 2px;
	}
	
.flick ul li a img {
	border: 2px solid transparent;
	transition: all 0.4s ease 0s;
	}
	
.flick ul li a:hover img {
	border-color: #279FBB;
	}
	
.f-links {
	width: 100%;
	height: auto;
	float: left;
	}
	
.f-links h4 {
	font-size: 16px;
	color: #fff;
	margin-bottom: 25px;
	text-transform:uppercase;
	}
	
.f-links ul li a {
	width: 100%;
	height: auto;
	float: left;
	padding: 6px 0px;
	color: #939393;
	border-bottom: 1px solid #666;
	transition: all 0.4s ease 0s;
	}
	
.f-links ul li a:hover {
	color: #fff;
	}
	
	
	/*			End footer			*/
	
	

.page-title {
	width: 1005;
	height: auto;
	padding: 10px 0px;
	background: #279FBB;
	color: #fff;
	}
	
.page-title h1 {
	font-size: 36px;
	color: #fff;
	font-weight: 100 !important;
	margin-top: 12px;
	font-family: "Raleway",sans-serif;
	}
	
ul.post-list {
	width: 100%;
	height: auto;
	border: 1px solid #eee;
	border-top: none;
	text-align: center;
	line-height: 40px;
	}
	
ul.post-list li {
	font-size: 15px;
	color: #999;
	padding: 10px 0px;
	display: inline;
	margin-right: 10px;
	}
	
	
	
	
	
	/*		About Us		*/
	
.about {
	width: 100%;
	height: auto;
	float: left;
	margin-bottom: 80px;
	}
	
.about .carousel-inner {
	margin: 30px 0px;
	color: #fff;
	}
	
.about .carousel-indicators {
	border-left: none;
	border-right: none;
	}
	
.about .carousel-inner > .item {
	height: 300px;
	}
	
.about .carousel-caption h3, .about .carousel-caption p {
	color: #fff !important;
	}
	
.about  .carousel-control.left, .about  .carousel-control.right  {
	background-image: none;
	}
	
.panel-default > .panel-heading {
	background-image: none;
	}
	
.progress-skill {
	margin-top: 30px;
	}
	
.sr-only {
	position: relative;
	font-size: 16px;
	line-height: 30px;
	}
	
.progress {
	height: 30px;
	background: #ebebeb;
	box-shadow: none;
	border-radius: 0px;
	}
	
.progress-bar {
	text-align: left;
	padding-left: 20px;
	}
	
.progress-bar-success {
	background: #449D44;
	}

.progress-bar-info {
	background: #31B0D5;
	}
	
.progress-bar-warning {
	background: #EC971F;
	}
	
.progress-bar-danger {
	background: #C9302C;
	}
	
	
	/*			End About			*/



	/*		Team Page		*/
	
.team {
	width: 100%;
	height: auto;
	float: left;
	margin-bottom: 80px;
	}
	
.team h1 {
	font-size: 28px;
	margin-bottom: 30px;
	color: #aaa;
	}
	
.team-member {
	width: 100%;
	float: left;
	height: auto;
	margin-bottom: 30px;
	}
	
.team-member h3 {
	font-size: 18px;
	}
	
.team-member h6 {
	font-size: 16px;
	margin-top: 0px;
	text-align: left;
	color: #aaa;
	}
	
.team-member img {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	}
	
	/*			End Team			*/